@font-face {
  font-family: 'Open Sans';
  src: url("~@/assets/fonts/OpenSans-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("~@/assets/fonts/OpenSans-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("~@/assets/fonts/OpenSans-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("~@/assets/fonts/OpenSans-ExtraBold.ttf") format('truetype');
  font-weight: 800;
  font-style: normal;
}

:root {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --box-shadow: 0px 8px 24px rgba(38, 42, 49, 0.04);
  --transition: .3s ease-in-out;
  --border-radius: 4px;

  --white: white;
  --primary: #FED731;
  --primary-hover: #FED131;
  --black-primary: #262A31;
  --black-light: #383A44;
  --outline: #9DA1A6;
  --disable: #b8b8b8;
  --txt-gray-1: #999999;
  --txt-gray-2: #717481;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}
#body {
  min-height: 100vh;
}

#app {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}


.overflow-class {
  overflow: hidden;
}
.overlay {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(7.5px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}
